nav {
  .menu {
    position: absolute;
    width: 100%;
    z-index: 1;

    .menu--nav {
      li {
        list-style: none;
        text-align: center;
        cursor: pointer;
      }
    }
    .menu--social {
      color: rgb(75, 75, 75);
      font-size: 20px;
      display: flex;
      justify-content: center;
      gap: 30px;

      .icon {
        cursor: pointer;
      }
      .icon:hover {
        color: rgb(150, 150, 150);
      }
    }
  }
}

// Mobile & Small Tablets
@media only screen and (max-width: 768px) {
  .menu {
    border: 1px solid rgb(200, 200, 200); // Mobile & tablet specific
    background-color: white; // Mobile & tablet specific
    max-width: 360px; // Mobile & tablet specific
    height: calc(100% - 50px); // Mobile & tablet specific
    top: 50px; // Mobile & tablet specific
    padding: 0 10px; // Mobile & tablet specific

    .menu--nav {
      li:first-child {
        margin-top: 10px; // Mobile & tablet specific
      }
      li {
        padding: 5px 0; // Mobile & tablet specific
      }
      li:hover {
        background-color: rgb(240, 240, 240); // Mobile & tablet specific
      }
    }

    .menu--social {
      margin-top: 10px; // Mobile & tablet specific
      padding-top: 10px; // Mobile & tablet specific
      border-top: 1px solid grey; // Mobile & tablet specific
    }
  }

  .menu.inactive { // Mobile & tablet specific
    transform: translateX(-102%);
    transition: transform 0.5s ease;
  }

  .menu.active { // Mobile & tablet specific
    transform: translateX(0%);
    transition: transform 0.5s ease;
  }

  .shader { // Mobile & tablet specific
    background-color: black;
    opacity: 0%;
    position: absolute;
    right: 0;
    width: 100%;
    height: calc(100% - 50px);
    top: 50px;
    z-index: -1;
    transition: opacity 0.5s ease, z-index 1.5s ease;
  }

  .menu.active ~ .shader { // Mobile & tablet specific
    opacity: 20%;
    z-index: 0;
    transition: opacity 0.5s ease;
  }
}